.profile-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80vh;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-content {
  max-width: 800px;
  display: flex;
    gap: 20px;
  }
  
  .image-upload {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .image-input {
    display: none;
  }
  
  .image-label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .placeholder-image {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-input:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
  }
  
  .password-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 6px;
  }
  
  .password-section h3 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .password-button, .save-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .password-button:hover, .save-button:hover {
    background-color: #218838;
  }
  
  .save-button {
    margin-top: 15px;
    width: 100%;
  }
  .change-mdp-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .profile-error-message {
    color: red;
  }
  